{% extends "base.html" %}

{% block title %}Members{% endblock %}

{% block content %}
<h1>Library Members</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Join Date</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>{{ member.name }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.join_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
